<form class='mt-4' name='container-form' method='POST' action='/activities/handle-trash-form-actions'>
  <div>
    <a href='/me/stored/activities'>Quay lại</a>
    <h3>Hoạt động đã xóa</h3>

    <div class='mt-4 d-flex align-items-center'>
      <select class='form-control form-control-sm checkbox-select-option' name='action' required>
        <option value=''>-- Open this select menu --</option>
        <option value='restored'>Khôi phục</option>
        <option value='delete-force'>Xóa vĩnh viễn</option>
      </select>

      <button class='btn btn-primary btn-sm btn-check-all-submit' disabled>Thực hiện</button>
    </div>
  </div>

  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>
          <div class='form-check'>
            <input class='form-check-input' type='checkbox' value='' id='checkbox-all' />
          </div>
        </th>
        <th scope='col'>#</th>
        <th scope='col'>
          Title
          {{{sortable 'title' _sort}}}
        </th>
        <th scope='col'>Locate</th>
        <th scope='col'>Time Active</th>
        <th scope='col'>Time Start</th>
        <th scope='col'>Total</th>
        <th scope='col'>Max</th>
        <th scope='col'>Delete At</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each activities}}
        <tr>
          <td>
            <div class='form-check'>
              <input class='form-check-input' type='checkbox' name='activityIds[]' value='{{this._id}}' />
            </div>
          </td>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.title}}</td>
          <td>{{this.locate}}</td>
          <td>{{this.timeActive}}</td>
          <td>{{this.timeStart}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.max}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href='' class='btn btn-link btn-restored' data-id='{{this._id}}'>Khôi phục</a>
            <a
              href=''
              class='btn btn-link'
              data-id='{{this._id}}'
              data-bs-toggle='modal'
              data-bs-target='#delete-activity-modal'
            >Xóa vĩnh viễn</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan='9' class='text-center' style='border-style: none;'>
            Thùng rác trống.
            <a href='/me/stored/activities' class='text-decoration-none'>Danh sách hoạt động</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! confirm delete }}
<div id='delete-activity-modal' class='modal' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Xóa hoạt động?</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <p>Bạn chắc chắn muốn xóa hoạt động học này?</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Hủy</button>
        <button id='btn-delete-activity-modal' type='button' class='btn btn-danger'>Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>

<form name='delete-activity-form' method='POST'></form>
<form name='restore-activity-form' method='POST'></form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var activityId;
    var deleteForm = document.forms['delete-activity-form'];
    var restoreForm = document.forms['restore-activity-form'];
    var containerForm = $('form[name="container-form"]')
    var btnDeleteActivity = document.getElementById('btn-delete-activity-modal');
    var restoreBtn = $('.btn-restored');
    var checkboxAll = $('#checkbox-all');
    var activityItemCheckbox = $('input[name="activityIds[]"]');
    var btnCheckAllSubmit = $('.btn-check-all-submit');

    // when dialog confirm clicked
    $('#delete-activity-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      activityId = button.data('id');
    })

    // restore btn clicked
    restoreBtn.click(function (e) {
      e.preventDefault();

      var activityId = $(this).data('id');
      restoreForm.action = '/activities/' + activityId + '/restore?_method=PATCH';
      restoreForm.submit();
    })

    // when delete course confirm clicked
    btnDeleteActivity.onclick = function () {
      deleteForm.action = '/activities/' + activityId + '/force?_method=DELETE';
      deleteForm.submit();
    }

    // checkbox all
    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      activityItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    // activity item checkbox change
    activityItemCheckbox.change(function () {
      var isCheckedAll = activityItemCheckbox.length === $('input[name="activityIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    // re-render check all submit btn
    function renderCheckAllSubmitBtn () {
      var checkedCount = $('input[name="activityIds[]"]:checked').length;
      if(checkedCount) {
        btnCheckAllSubmit.removeAttr('disabled', false);
      } else {
        btnCheckAllSubmit.attr('disabled', true);
      }
    }
  });
</script>